<h3>Your bankroll is: <%= @bankroll %></h3>

<h3>How much would you like to bet?</h3>
<form action="/blackjack/bet" method="post">
  <input type="text" name='bet' placeholder='Enter an integer.'>
</form>