<h3>Your bankroll is: 1000 (really get from session)</h3>

<h3>How much would you like to bet?</h3>
<form action="/blackjack/bet">
  <input type="text" name='bet' placeholder='Enter an integer.'>
</form>