<%= erb :"shared/_hands" %>

<form action="/blackjack" method="post">
  <a href="/blackjack/hit">
    <input type="button" name="hit" value="Hit">
  </a>
  <a href="/blackjack/stay">
    <input type="button" name="stay" value="Stay">
  </a>
</form>
